.table {
  width: 500px;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #809274;
  color: #ffffff;
}

.checked {
  background: #91a98250;
}

.input-td {
  width: 100%;
  margin: 0px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
